[
  {rabbit, [
    {log_levels, [{connection, info}, {channel, info}, {queue, info}]}
  ]},
  {rabbitmq_management, [
    {rates_mode, detailed},
    {sample_retention_policies, [
      {global, [{60, 5}, {3600, 60}, {86400, 1200}]},
      {basic, [{60, 5}, {3600, 60}]},
      {detailed, [{10, 5}]}
    ]}
  ]}
].
